@page
@model aboutModel
@{
    ViewData["Title"] = "About";
    Layout = "AboutLayout";
}

<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Us
                        </h2>
                        <img src="images/plug.png" alt="">
                    </div>
                    <p>
                        Welcome to our website, your go-to resource for everything related to solar cells! <br />
                        We are dedicated to promoting awareness and understanding of solar energy </b>
                        Our platform provides comprehensive information on various types of solar cells,<br />
                        including their efficiency, cost, and optimal usage conditions. Our goal is to help you make informed decisions about adopting solar technology,<br />
                        contributing to a sustainable and eco-friendly future. Whether you're a homeowner, <br />
                        business owner, or just curious about solar energy, we’re here to guide you on your journey towards renewable energy solutions.
                    </p>
                    <a href="\Calculations">
                        Calculate my area
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img_container">
                    <div class="img-box b1">
                        <img src="images/about-img1.jpg" alt="" />
                    </div>
                    <div class="img-box b2">
                        <img src="images/about-img2.jpg" alt="" />
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>



